[Tool]
TenantId=
ClientId=
OutPutFolerPath=

[InteractiveSigninLogsCollector]
Enabled = True
RequireScopes=AuditLog.Read.All, Directory.Read.All
OutputFileName=Interactive-SigninLogs.json

[NonInteractiveSigninLogsCollector]
Enabled = True
RequireScopes=AuditLog.Read.All, Directory.Read.All
OutputFileName=NonInteractive-SigninLogs.json